.footer {
  background-color: $color-main-dark;
  padding: 4 * $spacing-major;
}

.links-list-footer__link {
  & use {
    transition: 250ms ease fill;
    fill: #fff;
  }

  &:hover,
  &:focus {
    & use {
      fill: $color-accent;
    }
  }
}
