.section-bar {
  display: flex;
  column-gap: 0.5 * $spacing-major;
  height: 2 * $spacing-major;
  outline: 1px solid $color-accent-dim;
  margin-bottom: $spacing-major;
}

.button__back {
  height: 100%;
  aspect-ratio: 1/1;
  padding: 0.5 * $spacing-major;
  background-color: $color-accent-dim;
  border-radius: 0.5 * $spacing-major;
  cursor: pointer;

  & > svg {
    aspect-ratio: 1/1;
    width: 100%;
    fill: $color-accent-rich;
  }

  &:hover {
    background-color: $color-accent-rich;
  }
  &:hover > svg {
    fill: $color-component-white;
  }
}

.section__title {
  padding: 0.25 * $spacing-major 1.5 * $spacing-major;

  font-weight: $font-weight-major;
  font-size: $font-size-normal;
  letter-spacing: 0.1 * $spacing-major;
  text-transform: uppercase;
  align-items: center;
  color: $color-text-light;
  background-color: $color-accent-rich;
  border-radius: 0.5 * $spacing-major;
}
