.interbar {
  display: grid;
  grid-template-columns: 470px 1fr;
  column-gap: 0.5 * $spacing-major;
  height: 3 * $spacing-major;
  margin-bottom: 0.5 * $spacing-major;
}

.interbar__label {
  width: 100%;
  height: 100%;
  border-radius: $spacing-major;
  overflow: hidden;
  position: relative;
}

.interbar__input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.75 * $spacing-major $spacing-major;

  line-height: 1.5;

  color: $color-text-dark;

  &::placeholder {
    color: $color-text-normal;
  }

  &:focus {
    outline: none;
  }
}

.interbar__search-btn {
  position: absolute;
  right: 0.5 * $spacing-major;
  top: 0.5 * $spacing-major;
  width: 2 * $spacing-major;
  height: 2 * $spacing-major;
  padding: 0.5 * $spacing-major;
  background-color: $color-accent-dim;
  border-radius: 0.5 * $spacing-major;

  &:hover {
    background-color: $color-accent-rich;
    fill: $color-component-white;
  }
  &:hover > svg {
    fill: $color-component-white;
  }
}

.interbar__search-btn > svg {
  aspect-ratio: 1/1;
  width: $spacing-major;
  fill: $color-accent-rich;
}

.interbar__collection-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.interbar__collection-item {
  width: calc((100% - 2 * 0.5 * $spacing-major) / 3);
}

.interbar__collection-button {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: $spacing-major;
  overflow: hidden;
  position: relative;
  border-radius: $spacing-major;
  background-color: $color-component-white;
  padding: 0.75 * $spacing-major;

  &:hover {
    background-color: $color-accent-dim;
  }

  &:hover > svg {
    fill: $color-component-white;
  }

  &.active {
    background-color: $color-accent-rich;
  }

  &.active > svg {
    fill: $color-component-white;
  }
}

.interbar__collection-button > svg {
  aspect-ratio: 1/1;
  width: 1.5 * $spacing-major;
  fill: $color-accent-rich;
}
