<section id="blog" class="section section--binary section--blog">
  <div class="section__image-box">
    <picture class="section__face">
      <source srcset="images/home/blog.webp 1x, images/home/blog@2x.webp 2x" type="image/webp" />
      <source srcset="images/home/blog.jpg 1x, images/home/blog@2x.jpg 2x" type="image/jpeg" />
      <img src="images/home/blog.jpg" alt="our success story" />
    </picture>
  </div>
  <article class="section__side-content section__side-content--blog">
    <p class="section-subtitle">April 16 2020</p>
    <h2 class="section-title">Blog Post One</h2>
    <p class="content">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
      laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum
      temporibus doloribus iste maiores deleniti?
    </p>
    <button type="button" class="button-main button-additional" aria-label="open blog for reading">
      <svg class="button-main__icon button-additional__icon">
        <use href="./images/sprite.svg#fa-right"></use>
      </svg>
      Read Our Blog
    </button>
  </article>
</section>
