<section id="cases" class="section section--centred-content">
  <div class="container--centred-content">
    <p class="section-subtitle section-subtitle--centred-content">This is what we do</p>
    <h2 class="section-title section-title--centred-content">Business Cases</h2>
    <p class="content content--centred-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
    </p>
    <ul class="gallery">
      <li class="gallery-item gallery-item--cases">
        <a class="gallery-item__link" href="images/cases/cases1@2x.jpg" data-lightbox="cases">
          <picture>
            <source
              srcset="images/cases/cases1.webp 1x, images/cases/cases1@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/cases/cases1.jpg 1x, images/cases/cases1@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="images/cases/cases1.jpg" alt="search for compromise and the best solutions" />
          </picture>
        </a>
      </li>
      <li class="gallery-item gallery-item--cases">
        <a class="gallery-item__link" href="images/cases/cases2@2x.jpg" data-lightbox="cases">
          <picture>
            <source
              srcset="images/cases/cases2.webp 1x, images/cases/cases2@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/cases/cases2.jpg 1x, images/cases/cases2@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="images/cases/cases2.jpg" alt="risk calculation" />
          </picture>
        </a>
      </li>
      <li class="gallery-item gallery-item--cases">
        <a class="gallery-item__link" href="images/cases/cases3@2x.jpg" data-lightbox="cases">
          <picture>
            <source
              srcset="images/cases/cases3.webp 1x, images/cases/cases3@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/cases/cases3.jpg 1x, images/cases/cases3@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="images/cases/cases3.jpg" alt="private support" />
          </picture>
        </a>
      </li>
      <li class="gallery-item gallery-item--cases">
        <a class="gallery-item__link" href="images/cases/cases4@2x.jpg" data-lightbox="cases">
          <picture>
            <source
              srcset="images/cases/cases4.webp 1x, images/cases/cases4@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/cases/cases4.jpg 1x, images/cases/cases4@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="images/cases/cases4.jpg" alt="development of new projects" />
          </picture>
        </a>
      </li>
      <li class="gallery-item gallery-item--cases">
        <a class="gallery-item__link" href="images/cases/cases5@2x.jpg" data-lightbox="cases">
          <picture>
            <source
              srcset="images/cases/cases5.webp 1x, images/cases/cases5@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/cases/cases5.jpg 1x, images/cases/cases5@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="images/cases/cases5.jpg" alt="continuous market analysis" />
          </picture>
        </a>
      </li>
      <li class="gallery-item gallery-item--cases">
        <a class="gallery-item__link" href="images/cases/cases6@2x.jpg" data-lightbox="cases">
          <picture>
            <source
              srcset="images/cases/cases6.webp 1x, images/cases/cases6@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/cases/cases6.jpg 1x, images/cases/cases6@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="images/cases/cases6.jpg" alt="big business solutions" />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
