<footer class="footer">
  <ul class="links-list">
    <li class="links-list__item">
      <a
        class="links-list-footer__link"
        title="facebook"
        href="https://facebook.com"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="join us in Facebook"
      >
        <svg width="35" height="35">
          <use href="./images/sprite.svg#fb-logo"></use>
        </svg>
      </a>
    </li>
    <li class="links-list__item">
      <a
        class="links-list-footer__link"
        title="twitter"
        href="https://twitter.com"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="join us in twitter"
      >
        <svg width="35" height="35">
          <use href="./images/sprite.svg#tw-logo"></use>
        </svg>
      </a>
    </li>
    <li class="links-list__item">
      <a
        class="links-list-footer__link"
        title="youtube"
        href="https://youtube.com"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="join us in Youtube"
      >
        <svg width="40" height="35">
          <use href="./images/sprite.svg#yt-logo"></use>
        </svg>
      </a>
    </li>
    <li class="links-list__item">
      <a
        class="links-list-footer__link"
        title="linkedin"
        href="https://linkedin.com"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="join us in Linkedin"
      >
        <svg width="31" height="35">
          <use href="./images/sprite.svg#in-logo"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p>Copyright &copy; 2021 - FinanceLedger</p>
</footer>
