<header data-block="header" class="header">
  <!-- Logo -->

  <a class="main-logo" href="/">
    <svg width="40" height="35">
      <use href="./images/sprite.svg#main-logo"></use>
    </svg>
    <span class="main-logo__text--left">Finance</span>
    <span>Ledger</span>
  </a>

  <!-- Navigation -->

  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__list-item">
        <a
          data-link="home"
          class="navigation__link"
          href="#home"
          aria-label="go to the top of the page"
          >Home</a
        >
      </li>
      <li class="navigation__list-item">
        <a data-link="about" class="navigation__link" href="#about" aria-label="go to section About"
          >About</a
        >
      </li>
      <li class="navigation__list-item">
        <a data-link="cases" class="navigation__link" href="#cases" aria-label="go to section Cases"
          >Cases</a
        >
      </li>
      <li class="navigation__list-item">
        <a data-link="blog" class="navigation__link" href="#blog" aria-label="go to section Blog"
          >Blog</a
        >
      </li>
      <li class="navigation__list-item">
        <a
          data-link="contact"
          class="navigation__link"
          href="#contact"
          aria-label="go to Contact form"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
