<section class="section section--centred-content">
  <div class="container--centred-content">
    <p class="section-subtitle section-subtitle--centred-content">Who we are</p>
    <h2 class="section-title section-title--centred-content">Our Professional Team</h2>
    <p class="content content--centred-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
    </p>
    <ul class="gallery">
      <li class="gallery-item gallery-item--team">
        <div class="team-unit">
          <picture>
            <source
              srcset="images/team/JohnDoe.webp 1x, images/team/JohnDoe@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/team/JohnDoe.jpg 1x, images/team/JohnDoe@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="images/team/JohnDoe.jpg" alt="John Doe - president of company" />
          </picture>
          <ul class="links-list links-list--team">
            <li class="links-list__item--team">
              <a href="https://facebook.com" target="_blank">
                <svg width="35" height="35">
                  <use href="./images/sprite.svg#fb-logo"></use>
                </svg>
              </a>
            </li>
            <li class="links-list__item--team">
              <a href="https://twitter.com" target="_blank">
                <svg width="35" height="35">
                  <use href="./images/sprite.svg#tw-logo"></use>
                </svg>
              </a>
            </li>
            <li class="links-list__item--team">
              <a href="https://youtube.com" target="_blank">
                <svg width="40" height="35">
                  <use href="./images/sprite.svg#yt-logo"></use>
                </svg>
              </a>
            </li>
            <li class="links-list__item--team">
              <a href="https://linkedin.com" target="_blank">
                <svg width="31" height="35">
                  <use href="./images/sprite.svg#in-logo"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="team-unit__name">John Doe</p>
        <p class="team-unit__position">President</p>
      </li>
      <li class="gallery-item gallery-item--team">
        <div class="team-unit">
          <picture>
            <source
              srcset="images/team/JaneDoe.webp 1x, images/team/JaneDoe@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/team/JaneDoe.jpg 1x, images/team/JaneDoe@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="images/team/JaneDoe.jpg" alt="Jane Doe - vice-president of company" />
          </picture>
          <ul class="links-list links-list--team">
            <li class="links-list__item--team">
              <a href="https://facebook.com" target="_blank">
                <svg width="35" height="35">
                  <use href="./images/sprite.svg#fb-logo"></use>
                </svg>
              </a>
            </li>
            <li class="links-list__item--team">
              <a href="https://twitter.com" target="_blank">
                <svg width="35" height="35">
                  <use href="./images/sprite.svg#tw-logo"></use>
                </svg>
              </a>
            </li>
            <li class="links-list__item--team">
              <a href="https://youtube.com" target="_blank">
                <svg width="40" height="35">
                  <use href="./images/sprite.svg#yt-logo"></use>
                </svg>
              </a>
            </li>
            <li class="links-list__item--team">
              <a href="https://linkedin.com" target="_blank">
                <svg width="31" height="35">
                  <use href="./images/sprite.svg#in-logo"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="team-unit__name">Jane Doe</p>
        <p class="team-unit__position">Vice President</p>
      </li>
      <li class="gallery-item gallery-item--team">
        <div class="team-unit">
          <picture>
            <source
              srcset="images/team/SteveSmith.webp 1x, images/team/SteveSmith@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/team/SteveSmith.jpg 1x, images/team/SteveSmith@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="images/team/SteveSmith.jpg" alt="Steve Smith - marketing head" />
          </picture>
          <ul class="links-list links-list--team">
            <li class="links-list__item--team">
              <a href="https://facebook.com" target="_blank">
                <svg width="35" height="35">
                  <use href="./images/sprite.svg#fb-logo"></use>
                </svg>
              </a>
            </li>
            <li class="links-list__item--team">
              <a href="https://twitter.com" target="_blank">
                <svg width="35" height="35">
                  <use href="./images/sprite.svg#tw-logo"></use>
                </svg>
              </a>
            </li>
            <li class="links-list__item--team">
              <a href="https://youtube.com" target="_blank">
                <svg width="40" height="35">
                  <use href="./images/sprite.svg#yt-logo"></use>
                </svg>
              </a>
            </li>
            <li class="links-list__item--team">
              <a href="https://linkedin.com" target="_blank">
                <svg width="31" height="35">
                  <use href="./images/sprite.svg#in-logo"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="team-unit__name">Steve Smith</p>
        <p class="team-unit__position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
